<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hu.bme.aut.android.polygame">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.SingleplayerActivity"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_singleplayer"
                android:parentActivityName=".activity.SingleplayerSettingsActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.bme.aut.android.polygame.activity.SingleplayerSettingsActivity"/>
        </activity>
        <activity
                android:name=".activity.SingleplayerSettingsActivity"
                android:label="@string/title_activity_singleplayer_settings"
                android:parentActivityName=".activity.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.bme.aut.android.polygame.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".activity.MultiplayerActivity"
                android:label="@string/title_activity_multiplayer"
                android:parentActivityName=".activity.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.bme.aut.android.polygame.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".activity.SettingsActivity"
                android:label="@string/settings"
                android:parentActivityName=".activity.MainActivity"
                android:theme="@style/Theme.AppCompat.Light.Dialog">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.bme.aut.android.polygame.activity.MainActivity"/>
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:name=".service.BackgroundSoundService"/>
    </application>

</manifest>